<div class="wrapper">
  <div class="page-header" style="background-image: url('https://source.unsplash.com/ueZXMrZFFKQ/2400x1596');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-5 col-12 mr-auto">
          <div class="card card-register">
            <h3 class="card-title text-center">Iniciar sesión</h3>
            <div class="social">
              <button href="#paper-kit" class="btn btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></button>
              <button href="#paper-kit" class="btn btn-just-icon btn-google"><i class="fa fa-google"></i></button>
              <button href="#paper-kit" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></button>
            </div>
            <div class="division">
              <div class="line l"></div>
              <span>o</span>
              <div class="line r"></div>
            </div>
            {{!-- Formulario de registro --}}
            <form class="register-form" method="POST" action="/iniciar-sesion">
              <input type="text" class="form-control" placeholder="Correo electrónico" name="email" required>
              <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
              <button class="btn btn-block btn-round">Iniciar sesión</button>
            </form>
            <div class="login">
              <p>¿No tienes una cuenta? <a href="/crear-cuenta">¡Regístrate!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="demo-footer text-center">
      <h6>&copy; {{year}}, UNICAH <i class="fa fa-heart heart"></i> Seminario de Software</h6>
    </div>
  </div>
</div>